<div class="page-title">
  <h1>コメントを編集する</h1>
</div>
<div class="edit-form-container">
  <%= form_with(model: @comment, url: comment_path(@comment), method: :patch) do |form| %>
    <div class="field">
      <%= form.label :comment, 'コメント', id: "comment-label" %>
      <%= form.text_area :comment, id: "comment-label" %>
    </div>
    <div class="actions">
      <%= form.submit "更新する" %>
    </div>
  <% end %>
</div>
