<h1>📖これまでのやること</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= task.title %></strong>
      <%= task.content %>
      完了日: <%= task.completion_date %>
      <% if task.completed %>
        <span>完了</span>
      <% else %>
        <span>未完了</span>
      <% end %>
    </li>
  <% end %>
</ul>
