/* 基本スタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* ヘッダーのスタイル */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-weight: bolder;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.header-title {
  font-size: x-large;
  text-align: center;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

/* index */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-container,
.inner-tasklist {
  width: 80%;
  margin: 0 auto; /* 中央寄せ */
}
.input-button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* 子要素を垂直方向の中心に配置 */
}
.input-container {
  width: 60%; /* 幅の調整 */
  margin-right: 20px; /* 右の余白を設定 */
}
.field {
  display: flex;
  text-align: center;
  align-items: center;
}

input[type="text"],
textarea {
  width: 80%; /* 幅の設定 */
  padding: 10px; /* パディングの設定 */
}

/* ボタンのスタイリング */

.button-container {
  margin-bottom: 20px;
  display: flex;
}

.determine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.determine input[type="submit"],
.determine button,
.complete-task-button,
.edit-button,
.save-button {
  background-color: #0066ff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.determine input[type="submit"]:hover,
.determine button:hover,
.complete-task-button:hover,
.edit-button:hover,
.save-button:hover {
  background-color: #0056e0; /* ホバー時の背景色を変更 */
}

.link-change-button,
.return-button,
.cancel-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.link-change-button:hover,
.return-button:hover,
.cancel-button:hover {
  background-color: #2d672f; /* ホバー時の背景色を変更 */
}

.link-delete-button {
  background-color: #cc0000;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.link-delete-button:hover {
  background-color: #640202;
}

/* タスクリストのスタイル */
.inner-tasklist {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin-bottom: 1em;
}

ul::after {
  content: "";
  width: 30%;
}

.inner-task {
  padding: 1em;
}
/* タスクが完了した場合のスタイル */
.completed {
  color: #ccc;
}

.competed-text {
  color: rgb(25, 6, 6);
  font-weight: bolder;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border: none;
}

/* フォームコンテナのスタイリング */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 20px auto;
}

/* フォーム内のフィールドスタイリング */
.field {
  margin-bottom: 20px;
}

/* ラベルスタイリング */
.field label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

/* テキストフィールドとテキストエリアのスタイリング */
.field input[type="text"],
.field textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* チェックボックスのスタイリング */
.field input[type="checkbox"] {
  margin-right: 10px;
}

/* エラーメッセージのスタイリング */
#error_explanation {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

#error_explanation h2 {
  margin-top: 0;
}

#error_explanation ul {
  list-style-type: none;
  padding: 0;
}

#error_explanation li {
  margin-bottom: 5px;
}

/* ボタンスタイリング */
.actions input[type="submit"] {
  background-color: #0066ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.actions input[type="submit"]:hover,
.edit-button:hover {
  background-color: #0056e0;
}

/* 設定コンテナのスタイル */
.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 各設定項目のスタイル */
.setting-item {
  margin-bottom: 20px;
}

.setting-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* 編集フォームのスタイリング */
.edit-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.edit-form-group {
  margin-bottom: 20px;
}

.edit-form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.edit-form-group input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* チェックボックスのスタイル調整 */
.edit-form-group input[type="checkbox"] {
  margin-right: 10px;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
  li {
    width: calc(80% - 10px); /* 2列で表示 */
  }
}

.compete-edit-delete-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
